$color-primary: #9747ff;
$color-secondary: #0d3a70;
$color-red: #f5123b;
$color-green: #18cd76;
$color-balck: #000000;
$color-white: #ffffff;

$color-opacity05: #ffffff80;
$color-opacity08: #ffffff14;
