$color-primary: #7422d4;
$color-primary-opacity: #8b41de;
$color-light-primary: #8b41de;
$color-secondary: #333682;
$color-gradient: linear-gradient(88deg, #7422d4 0%, #d641dd 99.91%);

$color-shade-1: #ebe4f3;
$color-shade-5: #5a4c6a;
$color-shade-6: #2e2a32;

$color-red: #f5123b;
$color-red-opacity05: #f5123b80;
$color-green: #18cd76;
$color-black: #000000;

$color-base1: #151116;
$color-opacity02: #17141b33;
$color-opacity025: #ffffff40;
$color-base1-opacity04: #17141b0a;

$color-base2: #ffffff;

$color-opacity06: #ffffff99;
$color-opacity012: #ffffff1f;
$color-opacity004: #ffffff0a;

$hover-animation: all 0.3s cubic-bezier(0, 0, 0.58, 1);
$hover-anim-btn: all 0.15s ease-in-out;

$cover-2: 2px;
$cover-4: 4px;
$cover-6: 6px;
$cover-8: 8px;
$cover-10: 10px;
$cover-12: 12px;
$cover-16: 16px;
$cover-20: 20px;
$cover-24: 24px;
$cover-28: 28px;
$cover-32: 32px;
$cover-36: 36px;
$cover-40: 40px;
$cover-48: 48px;
$cover-64: 64px;
