@import "./normalize.scss";
@import "../css/fonts/NEXT-ART/next_art.css";
@import "../css/fonts/onest/onest.css";

html {
  background-color: $color-base1;

  padding: 0;
  margin: 0 auto;
  height: 100%;
  border: none;
}

body {
  margin: 0;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeLegibility;

  overscroll-behavior: none;
  box-sizing: border-box;
  *,
  *::before,
  *::after {
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    overscroll-behavior: none;
  }
}

h1 {
  font-family: NEXT-ART;
  font-size: 52px;
  font-weight: 600;
  line-height: 56px;
  text-transform: lowercase;
  color: $color-base2;
}

h2 {
  font-family: NEXT-ART;
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  text-transform: lowercase;
  text-overflow: ellipsis;
  color: $color-base2;
}

.bodyBold,
.body,
.footnote,
.smallFootnote {
  font-family: Onest;
}

.bodyBold {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.body {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: $color-base2;
}

.footnote {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: $color-opacity075;
}

.smallFootnote {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.container,
.container-header {
  display: flex;
  margin-inline: auto;
}
.container-header {
  max-width: 1440px;
}

.container {
  max-width: 1440px;
  padding-inline: 88px;
}

.d-flex {
  display: flex;
}

.bg-secondary {
  background-color: $color-secondary;
}

.no-poineter {
  cursor: auto;
}
