@import '@mdi/font/css/materialdesignicons.min.css';
@import '@vuepic/vue-datepicker/dist/main.css';

@import './fonts.scss';
@import './normalize.scss';
@import './swiper.scss';
@import './datepicker.scss';

html {
  background-color: $color-base1;

  padding: 0;
  margin: 0 auto;
  height: 100%;
  border: none;
}

body {
  margin: 0;
  text-size-adjust: 100%;

  overscroll-behavior: none;
  box-sizing: border-box;

  *,
  *::before,
  *::after {
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    overscroll-behavior: none;
  }
}

.btn-container {
  width: 100%;
  display: flex;
  padding: $cover-16 $cover-24;
  align-items: center;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-lazy {
  &:not(.loaded),
  &:not(.error) {
    background: linear-gradient(
      90deg,
      $color-opacity02,
      $color-base1,
      $color-opacity025,
      $color-base1
    );
    background-size: 300% 200%;
    -webkit-animation: Shine 2.25s ease infinite;
    -moz-animation: Shine 2.25s ease infinite;
    animation: Shine 2.25s ease infinite;
  }

  @keyframes Shine {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

h1 {
  font-family: NEXT-ART;
  font-size: 52px;
  font-weight: 700;
  line-height: 56px;
  text-transform: lowercase;
  color: $color-base2;
}

h2 {
  font-family: NEXT-ART;
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
  text-transform: lowercase;
  text-overflow: ellipsis;
  color: $color-base2;
}

h3 {
  font-family: Onest;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: $color-opacity06;
}

.bodyBold,
.body,
.footnote,
.smallFootnote,
.verySmallFootnot,
.footnoteText {
  font-family: Onest;
}

.bodyBold {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: $color-base2;
}

.body {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: $color-base2;
}

.footnote {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: $color-opacity06;
}

.footnoteText {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: $color-opacity06;
}

.smallFootnote {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: $color-opacity06;
}

.smallFootnote {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: $color-opacity06;
}

.verySmallFootnot {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: $color-opacity06;
}

.container,
.container-header {
  display: flex;
  margin-inline: auto;
}
.container-header {
  justify-content: center;
}
.container {
  max-width: 1440px;
  width: 100%;
  padding-inline: 88px;
}

.bag-secondary {
  padding-top: 80px;
  background-color: $color-secondary;
}

.no-pointer {
  cursor: none;
}

.pointer {
  cursor: pointer;
}

.close {
  transition: all 0.15s ease-out;
  border-radius: 100%;

  &:hover {
    background-color: $color-red-opacity05;

    path {
      fill: $color-red-opacity05;
      fill-opacity: 0.5;
    }
  }
}
