@import "swiper/css/bundle";

.swiper-pagination-bullet {
  background-color: $color-opacity025;
  width: 100%;
  height: 6px;
  opacity: 1;
  border-radius: $cover-2;
}

.swiper-creative,
.swiper-slide {
  overflow: visible !important;
}

.swiper-pagination-bullet-active {
  background-color: $color-opacity06;
}

.swiper-button {
  background: none;
  border: none;
  width: 50px;

  &::after {
    display: none;
  }
}
