.swiper-pagination-bullet {
  background-color: $color-opacity025;
  width: 100%;
  height: 6px;
  border-radius: $cover-2;
}

.swiper-pagination-bullet-active {
  background-color: $color-opacity06;
}
